**/__pycache__
**/.env
app/database_data
app/utils/secret.py
app/static/img/bannerkelas/*
!app/static/img/bannerkelas/banner_default.jpg
node_modules
package-lock.json
package.json
bin
include
lib
lib64
pyvenv.cfg
**/.vscode
