<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="{{ url_for('static', path='homeStyle.css') }}" rel="stylesheet" type="text/css">
    <title>Home Studdybuddy</title>
    <link rel= "icon" href= "{{ url_for('static', path='img/logo.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  </head>
 
  <body style="font-family: 'Montserrat', sans-serif;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


    <nav class="top navbar navbar-expand-lg sticky-top">
        <div class="container-fluid">
          <a class="logonavbar" href="/browse">
            <img src="{{ url_for('static', path='img/Studybuddy.png') }}" alt="Study Buddy" class="stdbd">
          </a>
           
          <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
            <form class="search-bx d-flex" role="search" style="margin-left: 1%;" action="/browse" method="GET">
              <ion-icon style="font-size: 20px;" name="search"></ion-icon>
              <input class="inp form-control me-2" type="search" name="search" placeholder="Cari kelas" aria-label="Search">
            </form>
            <ul class="navbar-nav ms-auto container-d-flex">
                
            <div class="kanan d-flex" style="margin: 2px;">
              <li class="nav-item dropdown">
                    <!-- notif -->
                    <div class="notifikasinavbar dropdown">
                        <!-- ini buat loncengnya -->
                        <button type="button" class="btn position-relative" data-bs-toggle="dropdown" style="margin-right: 20px; margin-top: 5px;">
                            <img src="{{ url_for('static', path='img/notif.png') }}" alt="notif" style="width: 25px; height: 30px;">
                            {% if (notif.kelas|length != 0) or (notif.undangan|length != 0) %}
                            <span class="position-absolute top-5 start-60 translate-middle p-2 bg-danger border border-light rounded-circle">
                            <span class="visually-hidden">New alerts</span>
                            {% endif %}
                        </button>
                        <!-- ini list dari dropdown notifikasi -->
                            <ul class="dropdown-menu dropdown-menu-end notif">
                                <!-- ini judul -->
                                <li class= "list title">Notifications</li>

                                {% for kls in notif.kelas %}
                                <!-- ini untuk notifikasi reminder -->
                                <li class="list dropdown-item; d-flex tengah">
                                    <img src="{{ url_for('static', path='img/reminder.png') }}" alt=":p">
                                    <p>{{kls.namakelas}} akan dilaksanakan hari ini {% if kls.tipe == 'online' %} secara online {% else %} di {{kls.lokasi}} {% endif %} pada jam {{ kls.waktumulai.strftime('%H:%M') }} </p>
                                </li>
                                {% endfor %}

                                {% for udg in notif.undangan %}
                                <!-- ini untuk notifikasi undang -->
                                <li class="list dropdown-item;">
                                    <div class="d-flex tengah">
                                        <img src="{{ url_for('static', path='img/undang.png') }}"alt=":p" >
                                        <p>Anda diundang menjadi tutor pada kelas {{udg.nama_kelas}} oleh {{udg.creator}}</p>
                                    </div>
                                    <div class="choice d-flex justify-content-start">
                                        <form action="/acc_undangan/{{udg.id}}" method="GET"><button type="submit" class="btn btn-secondary">Terima</button></form>
                                        <form action="/dec_undangan/{{udg.id}}" method="GET"><button type="submit" class="btn btn-outline-secondary">Tolak</button></form>
                                    </div>
                                </li>
                                {% endfor %}

                            </ul>
                    </div>
                    <!-- selesai notif -->
                </li>
                <!-- profile -->
                <li class="nav-item dropdown">
                    <div class="dropdown">
                        <a class="btn btn-light btn dropdown-toggle d-lg-" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="d-none d-md-inline-block align-middle" style="margin-bottom: -5px;">
                            <b class="d-block navbar-username" style="text-align: left;">{{ user.nama }}</b>
                            <small class="d-block navbar-nim" style="text-align: left;">{{ user.nim }}</small>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/changepassword">
                                <ion-icon name="key"></ion-icon>
                                Ganti Password
                                </a></li>
                            <li><a class="dropdown-item" href="/logout">
                                <ion-icon name="log-out"></ion-icon>
                                Logout
                                </a></li>
                        </ul>
                    </div>      
                </div>
            </li>
            <!-- selesai profil -->
            </ul>
        </div>
      </nav>

    <ul class="nav nav-underline justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="home.html">Jadwal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/kelasdiikuti">Kelas Diikuti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/kelassaya">Kelas Saya</a>
        </li>
      </ul>
    </nav>

    <div class="kelastutor">
        <nav style="margin-bottom:10px" class="kls navbar">
            <div class="container-fluid">
              <h3 style="font-weight: bold;">Kelas Tutor</h3>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-secondary shadow-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <ion-icon name="person-add" style="padding-right: 10px;"></ion-icon>Undang Penutor</button>
                </button>
  
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content" style="background-color: rgb(239, 239, 239);">
                            <form action="/buat_undangan" method="POST">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel" style="margin-left: 18%;" >Undang orang lain menjadi tutor</h1>
                            </div>
                            <div class="container-sm" style="width: 90%;">
                                <label style="margin-top:2%">Semester</label>
                                <select class="form-select" aria-label="default select example" style="border-color: black;" name="semester">
                                  <option selected>Pilih Semester</option>
                                  <option value="1">Semester 1</option>
                                  <option value="2">Semester 2</option>
                                  <option value="3">Semester 3</option>
                                  <option value="4">Semester 4</option>
                                  <option value="5">Semester 5</option>
                                  <option value="6">Semester 6</option>
                                  <option value="7">Lainnya</option>
                                 
                                </select>
                    
                                <label style="margin-top: 2%;">Nama Kelas</label>
                                <input class="form-control" type="text" placeholder="Nama Kelas" aria-label="Nama Kelas example" style="border-color: black;" name="nama_kelas">
                                
                                <label style="margin-top: 2%;">NIM Mahasiswa</label>
                                <input class="form-control" type="text" style="margin-bottom: 5%; border-color: black;" placeholder="NIM Mahasiswa" aria-label="Nama Mahasiswa example" style="border-color: black;" name="tutor_nim">
                            </div>
                            <div class="modal-footer" style="margin-right: 4%;">
                                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">
                                    Batal
                                </button>
                                <button role="button" class="btn btn-dark" type="submit">
                                    <ion-icon name="person-add" style="padding-right: 5px;"></ion-icon>    
                                    Undang
                                </button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          </nav>

          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-btn shadow-sm"; role="presentation">
                <button class="btn btn-outline-dark active"; id="pills-All-tab" data-bs-toggle="pill" data-bs-target="#pills-All" type="button" role="tab" aria-controls="pills-All" aria-selected="true"> Semua Kelas </button>
            </li>
            <li class="nav-btn shadow-sm"; role="presentation">
              <button class="btn btn-outline-dark"; id="pills-Semester1-tab" data-bs-toggle="pill" data-bs-target="#pills-Semester1" type="button" role="tab" aria-controls="pills-Semester1"  aria-selected="false">Semester 1 </button>
            </li>
            <li class="nav-btn shadow-sm" role="presentation">
              <button class="btn btn-outline-dark" id="pills-Semester2-tab" data-bs-toggle="pill" data-bs-target="#pills-Semester2" type="button" role="tab" aria-controls="pills-Semester2" aria-selected="false">Semester 2</button>
            </li>
            <li class="nav-btn shadow-sm" role="presentation">
              <button class="btn btn-outline-dark" id="pills-Semester3-tab" data-bs-toggle="pill" data-bs-target="#pills-Semester3" type="button" role="tab" aria-controls="pills-Semester3" aria-selected="false">Semester 3</button>
            </li>
            <li class="nav-btn shadow-sm" role="presentation">
              <button class="btn btn-outline-dark" id="pills-Semester4-tab" data-bs-toggle="pill" data-bs-target="#pills-Semester4" type="button" role="tab" aria-controls="pills-Semester4" aria-selected="false">Semester 4</button>
            </li>
            <li class="nav-btn shadow-sm" role="presentation">
                <button class="btn btn-outline-dark" id="pills-Semester5-tab" data-bs-toggle="pill" data-bs-target="#pills-Semester5" type="button" role="tab" aria-controls="pills-Semester5" aria-selected="false">Semester 5</button>
            </li>
            <li class="nav-btn shadow-sm" role="presentation">
                <button class="btn btn-outline-dark" id="pills-Semester6-tab" data-bs-toggle="pill" data-bs-target="#pills-Semester6" type="button" role="tab" aria-controls="pills-Semester6" aria-selected="false">Semester 6</button>
            </li>
            <li class="nav-btn shadow-sm" role="presentation">
                <button class="btn btn-outline-dark" id="pills-Lainnya-tab" data-bs-toggle="pill" data-bs-target="#pills-Lainnya" type="button" role="tab" aria-controls="pills-Lainnya" aria-selected="false">Lainnya</button>
            </li>
        </ul>


        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-All" aria-current="page" role="tabpanel" aria-labelledby="pills-All-tab" tabindex="0">
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    {% for kls in kelas %}
                    <div class="col">
                    <div class="card shadow-sm">
                        <img src="{{ url_for('static', path='img/bannerkelas/') }}{{ kls.banner }}" class="card-img-top" style="object-fit: cover;" height="200" alt="...">
                        <div class="card-body shadow-sm">
                        <h5 class="card-title">{{ kls.namakelas }}</h5>
                        <p class="card-text"> 
                            <img src="{{ url_for('static', path='img/teach.png') }}"> <label class="penutor">{{kls.tutor.nama}}</label>
                        </p>
                        <p class="card-text">
                            <img src="{{ url_for('static', path='img/cal.png') }}"> <label class="penutor">{{ kls.waktumulai.strftime('%d %B %Y') }}</label>
                        </p>
                        <p class="card-text">
                            <img src="{{ url_for('static', path='img/jam.png') }}" style="width: 30px;"> <label class="penutor">{{ kls.waktumulai.strftime('%H:%M') }} - {{ kls.waktuselesai.strftime('%H:%M') }}</label>
                        </p>
                        <p class="card-text">
                            <img src="{{ url_for('static', path='img/lokasi.png') }}"> <label class="penutor">{{ kls|attr('lokasi') or 'Daring' }}</label>
                        </p>
                        </div>
                        
                    <div class="d-grid gap-1">
                        {% if user in kls.peserta %}
                        <button class="btn btn-secondary">Kelas diikuti</button>
                        {% else %}
                        <button type="button" id="button2" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalikutkls{{kls.id}}">
                            Ikut Kelas
                        </button>
                        {% endif %}
                        <p class="card-text" style="text-align: end;">
                            <img src="{{ url_for('static', path='img/ppl.png') }}"> {{ kls.peserta|length }} orang
                        </p>
                    </div>
                    </div>
                    </div>
                    <!--modal ikut klas-->
                    <div class="modal fade" id="modalikutkls{{kls.id}}" tabindex="-1" aria-labelledby="modalikutklsLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="ikutkls modal-body" style="text-align: center">
                              Ikut kelas {{ kls.namakelas }}?
                              <label class="btnhapus container-fluid">
                                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Tidak</button>
                                <a role="button" class="btn btn-dark" href="/ikutkelas/{{kls.id}}">Ikut</a>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                  {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="pills-Semester1" role="tabpanel" aria-labelledby="pills-Semester1-tab" tabindex="0">
                        <div class="row row-cols-1 row-cols-md-4 g-4">
                            {% for kls in kelas %}
                            {% if kls.semester == 1 %}
                            <div class="col">
                            <div class="card shadow-sm">
                                <img src="{{ url_for('static', path='img/bannerkelas/') }}{{ kls.banner }}" class="card-img-top" style="object-fit: cover;" height="200" alt="...">
                                <div class="card-body shadow-sm">
                                <h5 class="card-title">{{ kls.namakelas }}</h5>
                                <p class="card-text"> 
                                    <img src="{{ url_for('static', path='img/teach.png') }}"> <label class="penutor">{{kls.tutor.nama}}</label>
                                </p>
                                <p class="card-text">
                                    <img src="{{ url_for('static', path='img/cal.png') }}"> <label class="penutor">{{ kls.waktumulai.strftime('%d %B %Y') }}</label>
                                </p>
                                <p class="card-text">
                                    <img src="{{ url_for('static', path='img/jam.png') }}" style="width: 30px;"> <label class="penutor">{{ kls.waktumulai.strftime('%H:%M') }} - {{ kls.waktuselesai.strftime('%H:%M') }}</label>
                                </p>
                                <p class="card-text">
                                    <img src="{{ url_for('static', path='img/lokasi.png') }}"> <label class="penutor">{{ kls|attr('lokasi') or 'Daring' }}</label>
                                </p>
                                </div>
                                
                            <div class="d-grid gap-1">
                                {% if user in kls.peserta %}
                                <button class="btn btn-secondary">Kelas diikuti</button>
                                {% else %}
                                <button type="button" id="button2" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalikutkls{{kls.id}}-1">
                                    Ikut Kelas
                                </button>
                                {% endif %}
                                <p class="card-text" style="text-align: end;">
                                    <img src="{{ url_for('static', path='img/ppl.png') }}"> {{ kls.peserta|length }} orang
                                </p>
                            </div>
                            </div>
                            </div>
                            <!--modal ikut klas-->
                            <div class="modal fade" id="modalikutkls{{kls.id}}-1" tabindex="-1" aria-labelledby="modalikutklsLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="ikutkls modal-body" style="text-align: center">
                                    Ikut kelas {{ kls.namakelas }}?
                                    <label class="btnhapus container-fluid">
                                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Tidak</button>
                                        <a role="button" class="btn btn-dark" href="/ikutkelas/{{kls.id}}">Ikut</a>
                                    </label>
                                    </div>
                                </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                    
                        </div>
            </div>
            <div class="tab-pane fade" id="pills-Semester2" role="tabpanel" aria-labelledby="pills-Semester2-tab" tabindex="0">
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                            {% for kls in kelas %}
                            {% if kls.semester == 2 %}
                            <div class="col">
                            <div class="card shadow-sm">
                                <img src="{{ url_for('static', path='img/bannerkelas/') }}{{ kls.banner }}" class="card-img-top" style="object-fit: cover;" height="200" alt="...">
                                <div class="card-body shadow-sm">
                                <h5 class="card-title">{{ kls.namakelas }}</h5>
                                <p class="card-text"> 
                                    <img src="{{ url_for('static', path='img/teach.png') }}"> <label class="penutor">{{kls.tutor.nama}}</label>
                                </p>
                                <p class="card-text">
                                    <img src="{{ url_for('static', path='img/cal.png') }}"> <label class="penutor">{{ kls.waktumulai.strftime('%d %B %Y') }}</label>
                                </p>
                                <p class="card-text">
                                    <img src="{{ url_for('static', path='img/jam.png') }}" style="width: 30px;"> <label class="penutor">{{ kls.waktumulai.strftime('%H:%M') }} - {{ kls.waktuselesai.strftime('%H:%M') }}</label>
                                </p>
                                <p class="card-text">
                                    <img src="{{ url_for('static', path='img/lokasi.png') }}"> <label class="penutor">{{ kls|attr('lokasi') or 'Daring' }}</label>
                                </p>
                                </div>
                                
                            <div class="d-grid gap-1">
                                {% if user in kls.peserta %}
                                <button class="btn btn-secondary">Kelas diikuti</button>
                                {% else %}
                                <button type="button" id="button2" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalikutkls{{kls.id}}-2">
                                    Ikut Kelas
                                </button>
                                {% endif %}
                                <p class="card-text" style="text-align: end;">
                                    <img src="{{ url_for('static', path='img/ppl.png') }}"> {{ kls.peserta|length }} orang
                                </p>
                            </div>
                            </div>
                            </div>
                            <!--modal ikut klas-->
                            <div class="modal fade" id="modalikutkls{{kls.id}}-2" tabindex="-1" aria-labelledby="modalikutklsLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="ikutkls modal-body" style="text-align: center">
                                    Ikut kelas {{ kls.namakelas }}?
                                    <label class="btnhapus container-fluid">
                                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Tidak</button>
                                        <a role="button" class="btn btn-dark" href="/ikutkelas/{{kls.id}}">Ikut</a>
                                    </label>
                                    </div>
                                </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                    </div>
            </div>
            <div class="tab-pane fade" id="pills-Semester3" role="tabpanel" aria-labelledby="pills-Semester3-tab" tabindex="0">
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                            {% for kls in kelas %}
                            {% if kls.semester == 3 %}
                            <div class="col">
                            <div class="card shadow-sm">
                                <img src="{{ url_for('static', path='img/bannerkelas/') }}{{ kls.banner }}" class="card-img-top" style="object-fit: cover;" height="200" alt="...">
                                <div class="card-body shadow-sm">
                                <h5 class="card-title">{{ kls.namakelas }}</h5>
                                <p class="card-text"> 
                                    <img src="{{ url_for('static', path='img/teach.png') }}"> <label class="penutor">{{kls.tutor.nama}}</label>
                                </p>
                                <p class="card-text">
                                    <img src="{{ url_for('static', path='img/cal.png') }}"> <label class="penutor">{{ kls.waktumulai.strftime('%d %B %Y') }}</label>
                                </p>
                                <p class="card-text">
                                    <img src="{{ url_for('static', path='img/jam.png') }}" style="width: 30px;"> <label class="penutor">{{ kls.waktumulai.strftime('%H:%M') }} - {{ kls.waktuselesai.strftime('%H:%M') }}</label>
                                </p>
                                <p class="card-text">
                                    <img src="{{ url_for('static', path='img/lokasi.png') }}"> <label class="penutor">{{ kls|attr('lokasi') or 'Daring' }}</label>
                                </p>
                                </div>
                                
                            <div class="d-grid gap-1">
                                {% if user in kls.peserta %}
                                <button class="btn btn-secondary">Kelas diikuti</button>
                                {% else %}
                                <button type="button" id="button2" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalikutkls{{kls.id}}-3">
                                    Ikut Kelas
                                </button>
                                {% endif %}
                                <p class="card-text" style="text-align: end;">
                                    <img src="{{ url_for('static', path='img/ppl.png') }}"> {{ kls.peserta|length }} orang
                                </p>
                            </div>
                            </div>
                            </div>
                            <!--modal ikut klas-->
                            <div class="modal fade" id="modalikutkls{{kls.id}}-3" tabindex="-1" aria-labelledby="modalikutklsLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="ikutkls modal-body" style="text-align: center">
                                    Ikut kelas {{ kls.namakelas }}?
                                    <label class="btnhapus container-fluid">
                                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Tidak</button>
                                        <a role="button" class="btn btn-dark" href="/ikutkelas/{{kls.id}}">Ikut</a>
                                    </label>
                                    </div>
                                </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="pills-Semester4" role="tabpanel" aria-labelledby="pills-Semester4-tab" tabindex="0">
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                            {% for kls in kelas %}
                            {% if kls.semester == 4 %}
                            <div class="col">
                            <div class="card shadow-sm">
                                <img src="{{ url_for('static', path='img/bannerkelas/') }}{{ kls.banner }}" class="card-img-top" style="object-fit: cover;" height="200" alt="...">
                                <div class="card-body shadow-sm">
                                <h5 class="card-title">{{ kls.namakelas }}</h5>
                                <p class="card-text"> 
                                    <img src="{{ url_for('static', path='img/teach.png') }}"> <label class="penutor">{{kls.tutor.nama}}</label>
                                </p>
                                <p class="card-text">
                                    <img src="{{ url_for('static', path='img/cal.png') }}"> <label class="penutor">{{ kls.waktumulai.strftime('%d %B %Y') }}</label>
                                </p>
                                <p class="card-text">
                                    <img src="{{ url_for('static', path='img/jam.png') }}" style="width: 30px;"> <label class="penutor">{{ kls.waktumulai.strftime('%H:%M') }} - {{ kls.waktuselesai.strftime('%H:%M') }}</label>
                                </p>
                                <p class="card-text">
                                    <img src="{{ url_for('static', path='img/lokasi.png') }}"> <label class="penutor">{{ kls|attr('lokasi') or 'Daring' }}</label>
                                </p>
                                </div>
                                
                            <div class="d-grid gap-1">
                                {% if user in kls.peserta %}
                                <button class="btn btn-secondary">Kelas diikuti</button>
                                {% else %}
                                <button type="button" id="button2" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalikutkls{{kls.id}}-4">
                                    Ikut Kelas
                                </button>
                                {% endif %}
                                <p class="card-text" style="text-align: end;">
                                    <img src="{{ url_for('static', path='img/ppl.png') }}"> {{ kls.peserta|length }} orang
                                </p>
                            </div>
                            </div>
                            </div>
                            <!--modal ikut klas-->
                            <div class="modal fade" id="modalikutkls{{kls.id}}-4" tabindex="-1" aria-labelledby="modalikutklsLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="ikutkls modal-body" style="text-align: center">
                                    Ikut kelas {{ kls.namakelas }}?
                                    <label class="btnhapus container-fluid">
                                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Tidak</button>
                                        <a role="button" class="btn btn-dark" href="/ikutkelas/{{kls.id}}">Ikut</a>
                                    </label>
                                    </div>
                                </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                    </div>
            </div>
            <div class="tab-pane fade" id="pills-Semester5" role="tabpanel" aria-labelledby="pills-Semester5-tab" tabindex="0">
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                            {% for kls in kelas %}
                            {% if kls.semester == 5 %}
                            <div class="col">
                            <div class="card shadow-sm">
                                <img src="{{ url_for('static', path='img/bannerkelas/') }}{{ kls.banner }}" class="card-img-top" style="object-fit: cover;" height="200" alt="...">
                                <div class="card-body shadow-sm">
                                <h5 class="card-title">{{ kls.namakelas }}</h5>
                                <p class="card-text"> 
                                    <img src="{{ url_for('static', path='img/teach.png') }}"> <label class="penutor">{{kls.tutor.nama}}</label>
                                </p>
                                <p class="card-text">
                                    <img src="{{ url_for('static', path='img/cal.png') }}"> <label class="penutor">{{ kls.waktumulai.strftime('%d %B %Y') }}</label>
                                </p>
                                <p class="card-text">
                                    <img src="{{ url_for('static', path='img/jam.png') }}" style="width: 30px;"> <label class="penutor">{{ kls.waktumulai.strftime('%H:%M') }} - {{ kls.waktuselesai.strftime('%H:%M') }}</label>
                                </p>
                                <p class="card-text">
                                    <img src="{{ url_for('static', path='img/lokasi.png') }}"> <label class="penutor">{{ kls|attr('lokasi') or 'Daring' }}</label>
                                </p>
                                </div>
                                
                            <div class="d-grid gap-1">
                                {% if user in kls.peserta %}
                                <button class="btn btn-secondary">Kelas diikuti</button>
                                {% else %}
                                <button type="button" id="button2" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalikutkls{{kls.id}}-5">
                                    Ikut Kelas
                                </button>
                                {% endif %}
                                <p class="card-text" style="text-align: end;">
                                    <img src="{{ url_for('static', path='img/ppl.png') }}"> {{ kls.peserta|length }} orang
                                </p>
                            </div>
                            </div>
                            </div>
                            <!--modal ikut klas-->
                            <div class="modal fade" id="modalikutkls{{kls.id}}-5" tabindex="-1" aria-labelledby="modalikutklsLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="ikutkls modal-body" style="text-align: center">
                                    Ikut kelas {{ kls.namakelas }}?
                                    <label class="btnhapus container-fluid">
                                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Tidak</button>
                                        <a role="button" class="btn btn-dark" href="/ikutkelas/{{kls.id}}">Ikut</a>
                                    </label>
                                    </div>
                                </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                    </div>
            </div>
            <div class="tab-pane fade" id="pills-Semester6" role="tabpanel" aria-labelledby="pills-Semester6-tab" tabindex="0">
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                            {% for kls in kelas %}
                            {% if kls.semester == 6 %}
                            <div class="col">
                            <div class="card shadow-sm">
                                <img src="{{ url_for('static', path='img/bannerkelas/') }}{{ kls.banner }}" class="card-img-top" style="object-fit: cover;" height="200" alt="...">
                                <div class="card-body shadow-sm">
                                <h5 class="card-title">{{ kls.namakelas }}</h5>
                                <p class="card-text"> 
                                    <img src="{{ url_for('static', path='img/teach.png') }}"> <label class="penutor">{{kls.tutor.nama}}</label>
                                </p>
                                <p class="card-text">
                                    <img src="{{ url_for('static', path='img/cal.png') }}"> <label class="penutor">{{ kls.waktumulai.strftime('%d %B %Y') }}</label>
                                </p>
                                <p class="card-text">
                                    <img src="{{ url_for('static', path='img/jam.png') }}" style="width: 30px;"> <label class="penutor">{{ kls.waktumulai.strftime('%H:%M') }} - {{ kls.waktuselesai.strftime('%H:%M') }}</label>
                                </p>
                                <p class="card-text">
                                    <img src="{{ url_for('static', path='img/lokasi.png') }}"> <label class="penutor">{{ kls|attr('lokasi') or 'Daring' }}</label>
                                </p>
                                </div>
                                
                            <div class="d-grid gap-1">
                                {% if user in kls.peserta %}
                                <button class="btn btn-secondary">Kelas diikuti</button>
                                {% else %}
                                <button type="button" id="button2" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalikutkls{{kls.id}}-6">
                                    Ikut Kelas
                                </button>
                                {% endif %}
                                <p class="card-text" style="text-align: end;">
                                    <img src="{{ url_for('static', path='img/ppl.png') }}"> {{ kls.peserta|length }} orang
                                </p>
                            </div>
                            </div>
                            </div>
                            <!--modal ikut klas-->
                            <div class="modal fade" id="modalikutkls{{kls.id}}-6" tabindex="-1" aria-labelledby="modalikutklsLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="ikutkls modal-body" style="text-align: center">
                                    Ikut kelas {{ kls.namakelas }}?
                                    <label class="btnhapus container-fluid">
                                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Tidak</button>
                                        <a role="button" class="btn btn-dark" href="/ikutkelas/{{kls.id}}">Ikut</a>
                                    </label>
                                    </div>
                                </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="pills-Lainnya" role="tabpanel" aria-labelledby="pills-Lainnya-tab" tabindex="0">
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                            {% for kls in kelas %}
                            {% if kls.semester == 7 %}
                            <div class="col">
                            <div class="card shadow-sm">
                                <img src="{{ url_for('static', path='img/bannerkelas/') }}{{ kls.banner }}" class="card-img-top" style="object-fit: cover;" height="200" alt="...">
                                <div class="card-body shadow-sm">
                                <h5 class="card-title">{{ kls.namakelas }}</h5>
                                <p class="card-text"> 
                                    <img src="{{ url_for('static', path='img/teach.png') }}"> <label class="penutor">{{kls.tutor.nama}}</label>
                                </p>
                                <p class="card-text">
                                    <img src="{{ url_for('static', path='img/cal.png') }}"> <label class="penutor">{{ kls.waktumulai.strftime('%d %B %Y') }}</label>
                                </p>
                                <p class="card-text">
                                    <img src="{{ url_for('static', path='img/jam.png') }}" style="width: 30px;"> <label class="penutor">{{ kls.waktumulai.strftime('%H:%M') }} - {{ kls.waktuselesai.strftime('%H:%M') }}</label>
                                </p>
                                <p class="card-text">
                                    <img src="{{ url_for('static', path='img/lokasi.png') }}"> <label class="penutor">{{ kls|attr('lokasi') or 'Daring' }}</label>
                                </p>
                                </div>
                                
                            <div class="d-grid gap-1">
                                {% if user in kls.peserta %}
                                <button class="btn btn-secondary">Kelas diikuti</button>
                                {% else %}
                                <button type="button" id="button2" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalikutkls{{kls.id}}-7">
                                    Ikut Kelas
                                </button>
                                {% endif %}
                                <p class="card-text" style="text-align: end;">
                                    <img src="{{ url_for('static', path='img/ppl.png') }}"> {{ kls.peserta|length }} orang
                                </p>
                            </div>
                            </div>
                            </div>
                            <!--modal ikut klas-->
                            <div class="modal fade" id="modalikutkls{{kls.id}}-7" tabindex="-1" aria-labelledby="modalikutklsLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="ikutkls modal-body" style="text-align: center">
                                    Ikut kelas {{ kls.namakelas }}?
                                    <label class="btnhapus container-fluid">
                                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Tidak</button>
                                        <a role="button" class="btn btn-dark" href="/ikutkelas/{{kls.id}}">Ikut</a>
                                    </label>
                                    </div>
                                </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                </div>
        
            
            </div>
        </div>
    </div>

    <!--modal ikut klas-->
    <div class="modal fade" id="modalikutkls" tabindex="-1" aria-labelledby="modalikutklsLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content" style="background: linear-gradient(to top,#ababab,#ebebeb, #ffffff,#ffffff, white,white)">
            <div class="ikutkls modal-body" style="text-align: center">
              Ikut Kelas Data Mining?
              <!--ini tu dia berubah buttonnya sebenarnya kl udh ikut kelas, cuma krna pindah halaman, nah pas gw balik lg mo liat
            perubahannya tu, malah ga keliatan. tp kl hrefnya diilangin, keliatan-->
                <p style="margin: 20px">
                    <button style="margin: 5px;" type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Tidak</button>
                    <a role="button" id="button1" style="margin:5px" class="btn btn-dark" href="kelasDiikuti.html">Ikut</a>
                </p>
            </div>
          </div>
        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <script>
        document.getElementById("button1").addEventListener("click", function() {
        document.getElementById("button2").disabled = true;
        document.getElementById("button2").innerHTML = "Kelas sudah diikuti";
        });
    </script>
</body>
</html>


