<html>
    <form method="POST">
        <label for="nama">Nama:</label><br>
        {% if nama %}
        <input type="text" id="nama" name="nama" value="{{ nama }}"><br>
        {% else %}
        <input type="text" id="nama" name="nama"><br>
        {% endif %}
        <label for="nim">NIM:</label><br>
        {% if nim %}
        <input type="text" id="nim" name="nim" value="{{ nim }}"><br>
        {% else %}
        <input type="text" id="nim" name="nim"><br>
        {% endif %}
        <label for="email">Email:</label><br>
        {% if email %}
        <input type="text" id="email" name="email" value="{{ email }}"><br>
        {% else %}
        <input type="text" id="email" name="email"><br>
        {% endif %}
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="cpassword">Confirm Password:</label><br>
        <input type="password" id="cpassword" name="cpassword">
        {% if error %}
        {{ error }}
        {% endif %}
        <br><br>
        <input type="submit" value="Submit">
    </form> 
</html>