h3{
    padding-top: 30px;
    text-align: center;
}
.logonavbar{
    padding-left: 10px;
}

.navbar{
    background-color: rgb(222, 222, 222);
}

.stdbd{
    width: 50px;
    height: 36px;
}

.notif{
    height: 27px; 
    width: 27px; 
    color: black;
}

.line{
height: 50px;
}

.ruang{
    padding-top: 10px;
}


